{{ if and .Site.Params.adsense.enable_ads .Site.Params.adsense.article_ads_only }}
<div class="article-ad-container my4 pa3 bg-light-gray">
  <div class="ad-label f6 ttu tracked mb2 mid-gray"></div>
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-{{ .Site.Params.adsense.publisher_id }}"
       data-ad-slot="{{ .Site.Params.adsense.slots.article_middle }}"
       data-ad-format="auto"
       data-full-width-responsive="true"></ins>
  <script>
     (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
{{ end }}
